body{
    margin: 0;
    font-size: 25px;
}
.container{
    margin-top: 1.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    flex-wrap: wrap; 
}
/* Left side */
.side-bar{
    display: flex;  
    align-items: flex-start;
    width: 300px;
    margin: 10px; 
}
.image-logo{
    vertical-align:middle;
    padding:0px;
    border-radius: 22%;
    width: 45px;
    height: 45px;
    object-fit:cover;
}
.image-list{
    width: 300px;
    font-size: 17px;
}
.listitem{
    width: 300px;
    padding: 10px;
    padding-right: 0px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}
.active {
    background-color:#3366ff;
    border-radius: 4px;
    color: white;
}

/* Right Side */
.image-bar{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin-left: 10px;
    padding: 10px;
}
.image-display img{
    width: 500px;
    height: 700px;
    object-fit:cover;
    border-radius: 1%;
}
#image-caption{
    padding: 10px 0 0 0;
    width: 100%;
    text-align: center; 
    word-wrap: break-word;
}



