body{
    margin: 0;
    font-size: 25px;
}

.float-child {
    padding: 10px;
    width: 40%;
    float: left;
}  
#floattextbox{
    padding: 10px 0 0 0;
    width: 100%;
    text-align: center; 
    word-wrap: break-word;
}
#floatimagelist{
    width:300px;
}
#imagecontent{
    width: 500px;
}
.imagelist{
    width: 300px;
    font-size: 17px;
}

.listitem{
    padding: 10px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}
.imagedisplay{
    width:500px;
    height:700px;
}
.imagelogo{
    width: 50px;
}
img.logo{
    vertical-align:middle;
    padding:0px;
    border-radius: 22%;
    width: 45px;
    height: 45px;
    object-fit:cover;
}
.imagedisplay img{
    width: 500px;
    height: 700px;
    object-fit:cover;
    border-radius: 1%;
}
.active {
    text-align:justify;
    width: 300px;
    height: 63px;  
    background-color:#3366ff;
    border-radius: 4px;
    color: white;
}